NODE_ENV=development
JWT_SECRET=your_jwt_secret_key
PORT=4000
TOKEN_EXPIRES_IN=7d

# Local PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/betterbudget

# Production can use a hosted PostgreSQL URL, such as AWS RDS.
# DATABASE_URL=postgresql://username:password@your-rds-endpoint.rds.amazonaws.com:5432/betterbudget
